@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/*==== Clear defaults ====*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

:root {
  font-family: "Rubik", sans-serif;
  font-size: 18px; /*card titles e.g. Work, Play*/
  color: #f6f6f6;
  /*=== Primary Colors ===*/
  --Blue: hsl(246, 80%, 60%);
  --Orange-red:hsl(15, 100%, 70%); /* (work) */
  --Soft-blue:hsl(195, 74%, 62%); /* (play) */
  --Light-red:hsl(348, 100%, 68%); /* (study) */
  --Lime-green:hsl(145, 58%, 55%); /* (exercise) */
  --Violet:hsl(264, 64%, 52%); /* (social) */
  --Soft-orange:hsl(43, 84%, 65%); /* (self care) */
  /*=== Neutral Colors ===*/
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(236, 45%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
  /*=== Body Copy ===*/
}

body {
  background-color: var(--Very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 25%;
  grid-template-rows: auto;
  grid-template-areas: "profile-card work-card play-card study-card" "profile-card exercise-card social-card self-care-card";
  width: 75%;
  gap: 25px;
}
.main-container .card {
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: top 0% right 10%;
  background-repeat: no-repeat;
  background-size: 31%;
}
.main-container .card .inner-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  background-color: var(--Dark-blue);
  cursor: pointer;
}
.main-container .card .inner-card .image-wrapper {
  width: 100%;
  margin-bottom: 25px;
}
.main-container .card .inner-card .image-wrapper .profile-img {
  width: 50%;
  height: auto;
  border-radius: 100%;
  border: 3px solid white;
}
.main-container .card .inner-card h3 {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--Pale-Blue);
}
.main-container .card .inner-card .user-name {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 25px;
}
.main-container .card .inner-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.main-container .card .inner-card .card-header .card-title {
  font-size: 15px;
  font-weight: 500;
}
.main-container .card .inner-card .card-header .card-options {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-container .card .inner-card .card-hours {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.main-container .card .inner-card .last-week {
  font-size: 12px;
  color: var(--Pale-Blue);
}
.main-container .card .inner-card:hover {
  background-color: #363b7c;
}
.main-container .profile-card {
  grid-area: profile-card;
  height: 100%;
  background-color: var(--Dark-blue);
  padding-bottom: 20px;
}
.main-container .profile-card .inner-card {
  position: relative;
  background-color: var(--Blue);
  padding-bottom: 35px;
}
.main-container .profile-card .inner-card:hover {
  background-color: var(--Blue);
  cursor: default;
}
.main-container .profile-card ul {
  list-style: none;
  margin-top: 20px;
}
.main-container .profile-card ul li {
  padding-left: 25px;
  margin-bottom: 15px;
}
.main-container .profile-card ul li p {
  width: -moz-min-content;
  width: min-content;
  font-size: 15px;
  color: var(--Desaturated-blue);
  cursor: pointer;
}
.main-container .profile-card ul li p:hover {
  color: inherit;
}
.main-container .profile-card ul li .active-tf {
  color: inherit;
}
.main-container .work-card {
  grid-area: work-card;
  background-color: var(--Orange-red);
  background-image: url("/images/icon-work.svg");
}
.main-container .play-card {
  grid-area: play-card;
  background-color: var(--Soft-blue);
  background-image: url("/images/icon-play.svg");
}
.main-container .study-card {
  grid-area: study-card;
  background-color: var(--Light-red);
  background-image: url("/images/icon-study.svg");
}
.main-container .exercise-card {
  grid-area: exercise-card;
  background-color: var(--Lime-green);
  background-image: url("/images/icon-exercise.svg");
}
.main-container .social-card {
  grid-area: social-card;
  background-color: var(--Violet);
  background-image: url("/images/icon-social.svg");
}
.main-container .self-care-card {
  grid-area: self-care-card;
  background-color: var(--Soft-orange);
  background-image: url("/images/icon-self-care.svg");
}

.attribution {
  position: absolute;
  bottom: 0;
  align-self: flex-end;
  width: 100%;
  padding: 15px 0;
  background-color: #333;
}

/* START RESPONSIVE STYLING */
/* ================================= */
@media screen and (max-width: 375px) {
  /* Styles for screens that are 375px wide or less */
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */