@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


/*==== Clear defaults ====*/
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

:root {

   font-family: 'Rubik', sans-serif;
   font-size: 18px; /*card titles e.g. Work, Play*/
   color: #f6f6f6;

   /*=== Primary Colors ===*/
   --Blue: hsl(246, 80%, 60%);

   --Orange-red:hsl(15, 100%, 70%); /* (work) */ 
   --Soft-blue:hsl(195, 74%, 62%); /* (play) */
   --Light-red:hsl(348, 100%, 68%); /* (study) */
   --Lime-green:hsl(145, 58%, 55%); /* (exercise) */
   --Violet:hsl(264, 64%, 52%); /* (social) */
   --Soft-orange:hsl(43, 84%, 65%); /* (self care) */

   /*=== Neutral Colors ===*/
   --Very-dark-blue: hsl(226, 43%, 10%);
   --Dark-blue: hsl(236, 45%, 20%);
   --Desaturated-blue: hsl(235, 45%, 61%);
   --Pale-Blue: hsl(236, 100%, 87%);

   /*=== Body Copy ===*/

}